@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Handwritten;
  src: url(fonts/fortune/Fortune.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}
.game-board {
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
}
.game-board > p {
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
}
.board {
  background-color: black;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 0.5rem;
}
.element {
  font-family: Handwritten, Roboto, Helvetica, sans-serif;
  background-color: white;
  width: 7rem;
  height: 7rem;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.player-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.player-names span {
  font-family: Handwritten, Roboto, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
}
label {
  white-space: nowrap;
}
.player-x,
.player-o {
  display: flex;
  gap: 0.5rem;
}
input {
  font-size: 1rem;
}
.wins {
  width: 2rem;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  user-select: none;
}
.set-up {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.reset {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.swap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.swap-reset {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.game,
.ai {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
button {
  white-space: nowrap;
}
button.reset-wins {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}
button.swap-players {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: orange;
  color: white;
  border: 2px solid orange;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}
button.new-game {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}
.new-ai-game {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}
button.new-game:active,
button.new-ai-game:active {
  border: 2px solid black;
  background-color: darkblue;
  color: lightgray;
}
button.swap-players:active {
  border: 2px solid black;
  background-color: rgb(212, 118, 3);
  color: lightgray;
}
button:hover {
  border: 2px solid black;
}
button.reset-wins:active {
  border: 2px solid black;
  background-color: rgb(105, 1, 1);
  color: lightgray;
}
div.element.win {
  background-color: rgb(182, 182, 182);
}
input[readonly] {
  background-color: rgb(189, 188, 188);
}
